body {
  background-color: #dacfeb;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 2px solid #f9f7fe;
  padding: 0 0 30px 0;
}

img {
  max-width: 100px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: grey;
}

a {
  color: #885df1;
}

main {
  padding: 30px 0;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  padding: 30px;
}

.weather-app-details {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
}

.weather-app-description strong {
  color: #f65282;
}

.weather-app-temp-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
  line-height: 88px;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-unit {
  margin-top: 8px;
  font-size: 28px;
}

.search-input {
  background-color: #d7d3e1ed;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-button {
  background: #885df1;
  padding: 15px 20px;
  border: none;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.weather-forecast-details {
  text-align: center;
}

.weather-forecast-icon {
  text-align: center;
  font-size: 38px;
}

.weather-forecast-day {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  display: flex;
  font-size: 13px;
  margin-top: 10px;
  justify-content: center;
}
.weather-forecast-temperatures-low {
  opacity: 0.5;
}
